.row{
    background-color: black;
    height: 312px;
    width: 235px;
    box-shadow: 10px;
    border: 10px outset;
}
.box{
    background-color: white;
    height: 45px;
    width: 234px;
    padding-top: 10px;
    text-align: center;
}
button{
    height:33px;
    width: 46px;
}
