table{
    
    height: 26vh;
    width: 211px;
    background-color:black;
    border-radius:30pxpx ;
    box-shadow: 10p;
    border: 10px outset;
    
 
}
    

td{
    background-color:white;
    color:black ;
     text-align: center;
    border: 10px outset;
    border-radius: 30px;
    
}
.box1{
    height: 47px;
    width: 188px;
    background-color:gray;
    
    border: 10px outset;
    text-align: center ;
    
}